.location-boxes {
	display: flex;
	position: relative;
	justify-content: center;
	top: -100px;
	width: 75%;
	margin: 0 auto;

	@media screen and (max-width: $tablet-bp) {
		display: block;
		width: 95%;
	}

	.location-box-1 {
		width: 25rem;
		padding: 0 2.5%;
		margin-right: 5%;
		background-color: white;
		position: relative;
		
		@media screen and (max-width: $tablet-bp) {
			width: 100%;
			margin-bottom: 50px;
		}


		.location-box__title {
		    padding: 30px 5%;
		    display: flex;
		    justify-content: center;

		    h3 {
	    	    font-family: $reg-font;
			    text-align: center;
			    font-size:1.2em;
		    }

		    &:before {
	    	    content: '';
			    position: absolute;
			    width: 80%;
			    border-top: 10px solid #ba0035;
			    top: 0px;

			    // @media screen and (max-width: $tablet-bp) {
			    // 	width: 80%;
			    // }
		    }
		}

		.location-box__address {
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 15px 0;
			font-family: $light-font;
		    font-size: 0.8em;
		    line-height: 1.5;
			
			p {
				text-align: center;
			}

		    .location-marker {
		    	font-size: 2em;
		    	padding-right: 5px;
		    	color: #884B8A;
		    }
		}

		.location-box-1-img {
			position: relative;
			width: 100%;
			overflow: hidden;

			.cool-ass-hover {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 100%;
				background-color: rgba(0,0,0,0.7);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s linear;

				p {
					position: relative;
					font-family: $light-font;
					font-size: 1.1em;
					color: white;
					opacity: 0;
					top: -10px;
					transition: all 0.5s linear;
					transition-delay: 0.3s;
				}	
			}

			img {
				width: 100%;
				transition: all 0.5s linear;
			}

			&:hover {
				.cool-ass-hover {
					top: 0;
				}

				p{
					opacity: 1;
					top: 0;
				}

				img {
					transform: scale(1.3);
				}
			}
		}

		.location-box__admission {
			font-size: 1.4em;
		    font-family: $light-font;
		    text-align: center;
		    background-color: #ebebeb;
		    padding: 20px 0%;
		    transition: all 0.2s linear;

		    &:hover {
		    	background-color: #DEDEDE;
		    }
		}
	}

	.location-box-2 {
		width: 25rem;
		padding: 0 2.5%;
		background-color: white;
		position: relative;

		@media screen and (max-width: $tablet-bp) {
			width: 100%;
		}

		.location-box__title {
		    padding: 30px 5%;
		    display: flex;
		    justify-content: center;

		    h3 {
	    	    font-family: $reg-font;
			    text-align: center;
			    font-size:1.2em;

		    }

		    &:before {
	    	    content: '';
			    position: absolute;
			    width: 80%;
			    border-top: 10px solid #2A9FBD;
			    top: 0px;

			 //    @media screen and (max-width: $tablet-bp) {
				// 	width: 80%;
				// }
		    }
		}

		.location-box__address {
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 15px 0;
			font-family: $light-font;
		    font-size: 0.8em;
		    line-height: 1.5;

		    p {
		    	text-align: center;
		    }

		    .location-marker {
		    	font-size: 2em;
		    	padding-right: 5px;
		    	color: #884B8A;
		    }
		}

		.location-box-2-img {
			position: relative;
			width: 100%;
			overflow: hidden;

			.cool-ass-hover {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 100%;
				background-color: rgba(0,0,0,0.7);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s linear;

				p {
					position: relative;
					font-family: $light-font;
					font-size: 1.1em;
					color: white;
					opacity: 0;
					top: -10px;
					transition: all 0.5s linear;
					transition-delay: 0.3s;
				}	
			}

			img {
				width: 100%;
				transition: all 0.5s linear;
			}

			&:hover {
				.cool-ass-hover {
					top: 0;
				}

				p{
					opacity: 1;
					top: 0;
				}

				img {
					transform: scale(1.3);
				}
			}
		}

		.location-box__admission {
			font-size: 1.4em;
		    font-family: $light-font;
		    text-align: center;
		    padding: 20px 0%;
		    background-color: #ebebeb;
		    transition: all 0.2s linear;

		    &:hover {
		    	background-color: #DEDEDE;
		    }
		}
	}
}